{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles{% endblock %}

{% block body %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/CookpotHelper.js?v=2.0"></script>
        <link rel="stylesheet" type="text/css" href="css/Layout.css">
        <link rel="stylesheet" type="text/css" href="css/Home.css?v=1.8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>

    <body style="margin:0px;background-color:#fcf2e6;">
        <!--Header-->
        <?php
            include_once("Header.php");
        ?>

        <div class="container" style="margin-top:25%">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm"> 
                    <form action="AuthenticateLogin.php" method="POST">
                        <table>
                            <tr>
                                <td><label>Username: </label>
                                <td><input name="username" type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td><label>Password: </label>
                                <td><input name="password" type="password" class="form-control"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" id="submit_recipe" class="form-control success" style="background-color:#2cbf53;color:white;"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>

        <!--Footer-->
        <?php
            include_once("Footer.php");
        ?>
    </body>
{% endblock %}